@use "./variables" as *;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font-main;
  background-color: $color-background;
  color: $color-main-text;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
